@using Omniscient.Shared
@using Omniscient.Shared.Dtos
@using Omniscient.Web.Clients

@page "/"
@rendermode InteractiveServer

@inject IndexerClient IndexerClient

<PageTitle>Omniscient</PageTitle>

<div class="container">
    <h1>Search</h1>
    <SearchBar OnSearch="HandleSearch"/>

    @if (!string.IsNullOrEmpty(_errorMessage))
    {
        <p class="text-danger">@_errorMessage</p>
    }

    @if (_selectedEmailDto is not null)
    {
        <EmailDetailView SelectedEmailContent="@_selectedEmailContent" SelectedEmailDto="@_selectedEmailDto"
                         OnBackPressed="OnBackPressed"/>
    }
    else
    {
        @if (_isSearching)
        {
            <p>Searching...</p>
        }
        else
        {
            <DisplayList Emails="_emails" OnPageChange="ChangePageIndex" OnEmailSelected="ViewEmail"/>
        }
    }
</div>


@code {
    private PaginatedList<EmailDto>? _emails;
    private string _query = string.Empty;
    private bool _isSearching;

    private string? _selectedEmailContent;
    private EmailDto? _selectedEmailDto;
    private string? _errorMessage;

    private async Task HandleSearch(string query)
    {
        await Search(query);
    }

    private async Task Search(string query, int pageIndex = 1, int pageSize = 10)
    {
        _errorMessage = null;

        try
        {
            OnBackPressed();
            _isSearching = true;
            _query = query;
            _emails = await IndexerClient.SearchEmailsAsync(_query, pageIndex, pageSize);
        }
        catch (Exception)
        {
            _errorMessage = "Unable to search emails. Please try again later.";
        }
        finally
        {
            _isSearching = false;
        }
    }

    private async Task ChangePageIndex(int pageIndex)
    {
        await Search(_query, pageIndex);
    }

    private async Task ViewEmail(EmailDto emailDto)
    {
        try
        {
            _selectedEmailDto = emailDto;
            _selectedEmailContent = await IndexerClient.GetFullContentAsync(emailDto.Id);
        }
        catch (Exception)
        {
            _errorMessage = "Unable to view email. Please try again later.";
        }
    }

    private void OnBackPressed()
    {
        _selectedEmailDto = null;
        _selectedEmailContent = null;
    }
}